npm-debug.log
logs
tmp
.history
.idea
/*.iml
/*.ipr
/*.iws
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/**/.settings
/**/.classpath
/**/.project
.cache
/out/javascripts
/out/stylesheets
/out/images
/node_modules
/typings
npm-debug.log.*
