@import 'page.pcss';
@import 'typography.pcss';
@import 'logo.pcss';
@import 'navigation.pcss';
@import 'search.pcss';
@import 'demos.pcss';
@import 'tables.pcss';
@import 'forms.pcss';

*,
*:after,
*:before {
    box-sizing: border-box;
}
