.demo {
    display: block;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.05);
}

.item-loader ul {

    + .loading {
        display: none;
        margin: 10px 0;
    }

    &:empty {
        display: none;

        + .loading {
            display: block;
        }
    }
}
