.project .logo img {
    background: none;
    border-radius: 0;
    box-shadow: none !important;
    transition: 0.5s linear;
}

.project:hover .logo img {
    transform: scale(1.5);
    transform-origin: 50% 50%;
}

.article .note code {
    background-color: rgb(9, 140, 200);
    color: white;
}

code {
    display: inline-block;
    padding: 0px 5px;
}

pre {
    padding: 10px;
}

pre code {
    display: block;
    padding: 10px;
}
