#sorted-list {
    margin-top: 10px;

    > li {
        background-color: #EEEEEE;
        padding: 2px 10px;
        margin-top: 1px;

        &:first-child {
            margin-top: 0;
        }
    }
}
