npm-debug.log
logs
tmp
.history
.idea
/*.iml
/*.ipr
/*.iws
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/**/.settings
/**/.classpath
/**/.project
.cache
/app/node_modules
/public
npm-debug.log.*
